<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.usst.dao.DoctorMapper" >
  <resultMap id="BaseResultMap" type="com.usst.model.Doctor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="MyResultMap"  type="com.usst.model.Doctor">
    <id column="id" property="id"  />
    <result column="name" property="name"/>
    <result column="gender" property="gender" />
    <result column="age" property="age"  />
    <result column="number" property="number" />
    <result column="password" property="password"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, gender, age, number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from doctor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from doctor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.usst.model.Doctor" >
    insert into doctor (id, name, gender, 
      age, number)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.usst.model.Doctor" >
    insert into doctor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="number != null" >
        number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.usst.model.Doctor" >
    update doctor
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.usst.model.Doctor" >
    update doctor
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>



  <select id="appointmentGetDoctor" parameterType="com.usst.model.Operation" resultMap="BaseResultMap">
    SELECT * from doctor WHERE id NOT IN
    (
    SELECT doctor_id FROM operation WHERE date =#{date} AND start_time &lt; #{endTime} AND end_time &gt; #{startTime}
    )
  </select>


  <select id="changeOperationGetDoctor" parameterType="com.usst.model.Operation" resultMap="BaseResultMap">
    SELECT * from doctor WHERE id NOT IN
     (
      SELECT doctor_id FROM operation WHERE date =#{date} AND start_time &lt; #{endTime} AND end_time &gt; #{startTime} AND operation.id!=#{id}
     )
  </select>

  <select id="getAllDoctor" resultMap="MyResultMap">
    SELECT * FROM doctor,account WHERE id=account
  </select>

</mapper>