<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.usst.dao.OperationMapper">
    <resultMap id="BaseResultMap" type="com.usst.model.Operation">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="doctor_id" property="doctorId" jdbcType="INTEGER"/>
        <result column="operation_room_id" property="operationRoomId" jdbcType="INTEGER"/>
        <result column="analgesist_id" property="analgesistId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="INTEGER"/>
        <result column="end_time" property="endTime" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="doctor_status" property="doctorStatus" jdbcType="INTEGER"/>
        <result column="analgesist_status" property="analgesistStatus" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="allOperationInfo" type="com.usst.model.Operation">
        <id column="id" property="id"/>
        <result column="doctor_id" property="doctorId" jdbcType="INTEGER"/>
        <result column="operation_room_id" property="operationRoomId" jdbcType="INTEGER"/>
        <result column="analgesist_id" property="analgesistId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="INTEGER"/>
        <result column="end_time" property="endTime" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="doctor_status" property="doctorStatus" jdbcType="INTEGER"/>
        <association column="operation_room_id" property="operationRoom"
                     select="com.usst.dao.OperationRoomMapper.selectByPrimaryKey"/>
        <association column="doctor_id" property="doctor" select="com.usst.dao.DoctorMapper.selectByPrimaryKey"/>
        <association column="analgesist_id" property="analgesist"
                     select="com.usst.dao.AnalgesistMapper.selectByPrimaryKey"/>
        <association column="patient_id" property="patient" select="com.usst.dao.PatientMapper.selectByPrimaryKey"/>
        <collection column="id" property="nurses" select="com.usst.dao.NurseMapper.selectByOperationId"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, doctor_id, operation_room_id, analgesist_id, patient_id, name, date, start_time,
        end_time, status, doctor_status, analgesist_status
    </sql>

    <select id="selectByPrimaryKey" resultMap="allOperationInfo" parameterType="java.lang.Integer">
        select *
        from operation
        where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM operation
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.usst.model.Operation">
        INSERT INTO operation (id, doctor_id, operation_room_id,
                               analgesist_id, patient_id, name,
                               date, start_time, end_time,
                               status, doctor_status, analgesist_status
        )
        VALUES (#{id,jdbcType=INTEGER}, #{doctorId,jdbcType=INTEGER}, #{operationRoomId,jdbcType=INTEGER},
                                        #{analgesistId,jdbcType=INTEGER}, #{patientId,jdbcType=INTEGER},
                                        #{name,jdbcType=VARCHAR},
                                        #{date,jdbcType=VARCHAR}, #{startTime,jdbcType=INTEGER},
                                        #{endTime,jdbcType=INTEGER},
                                        #{status,jdbcType=INTEGER}, #{doctorStatus,jdbcType=INTEGER},
                #{analgesistStatus,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.usst.model.Operation">
        insert into operation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="doctorId != null">
                doctor_id,
            </if>
            <if test="operationRoomId != null">
                operation_room_id,
            </if>
            <if test="analgesistId != null">
                analgesist_id,
            </if>
            <if test="patientId != null">
                patient_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="date != null">
                date,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="doctorStatus != null">
                doctor_status,
            </if>
            <if test="analgesistStatus != null">
                analgesist_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="doctorId != null">
                #{doctorId,jdbcType=INTEGER},
            </if>
            <if test="operationRoomId != null">
                #{operationRoomId,jdbcType=INTEGER},
            </if>
            <if test="analgesistId != null">
                #{analgesistId,jdbcType=INTEGER},
            </if>
            <if test="patientId != null">
                #{patientId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                #{date,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=INTEGER},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="doctorStatus != null">
                #{doctorStatus,jdbcType=INTEGER},
            </if>
            <if test="analgesistStatus != null">
                #{analgesistStatus,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.usst.model.Operation">
        update operation
        <set>
            <if test="doctorId != 0">
                doctor_id = #{doctorId,jdbcType=INTEGER},
            </if>
            <if test="operationRoomId != 0">
                operation_room_id = #{operationRoomId,jdbcType=INTEGER},
            </if>
            <if test="analgesistId != 0">
                analgesist_id = #{analgesistId,jdbcType=INTEGER},
            </if>
            <if test="patientId != 0">
                patient_id = #{patientId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=VARCHAR},
            </if>
            <if test="startTime != 0">
                start_time = #{startTime,jdbcType=INTEGER},
            </if>
            <if test="endTime != 0">
                end_time = #{endTime,jdbcType=INTEGER},
            </if>
            <if test="status != 0">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="doctorStatus != 0">
                doctor_status = #{doctorStatus,jdbcType=INTEGER},
            </if>
            <if test="analgesistStatus != 0">
                analgesist_status = #{analgesistStatus,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.usst.model.Operation">
        UPDATE operation
        SET doctor_id         = #{doctorId,jdbcType=INTEGER},
            operation_room_id = #{operationRoomId,jdbcType=INTEGER},
            analgesist_id     = #{analgesistId,jdbcType=INTEGER},
            patient_id        = #{patientId,jdbcType=INTEGER},
            name              = #{name,jdbcType=VARCHAR},
            date              = #{date,jdbcType=VARCHAR},
            start_time        = #{startTime,jdbcType=INTEGER},
            end_time          = #{endTime,jdbcType=INTEGER},
            status            = #{status,jdbcType=INTEGER},
            doctor_status     = #{doctorStatus,jdbcType=INTEGER},
            analgesist_status = #{analgesistStatus,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}

    </update>

    <select id="findPartByDoctorId" resultMap="BaseResultMap" parameterType="int">
        SELECT *
        FROM operation
        WHERE doctor_id = #{doctorId}
    </select>

    <select id="getMaxId" resultType="int">
        SELECT max(id)
        FROM operation
    </select>


    <select id="getSchedule" parameterType="com.usst.model.Operation" resultMap="allOperationInfo">
        SELECT * FROM operation
        <if test="nurseId!=0">
            ,nurse_schedule
        </if>
        <where>
            <if test="doctorId!=0">
                AND #{doctorId}=doctor_id
            </if>
            <if test="analgesistId!=0">
                AND #{analgesistId}=analgesist_id
            </if>
            <if test="nurseId!=0">
                AND id=operation_id
                AND #{nurseId}=nurse_id
            </if>
            <if test="patientId!=0">
                AND #{patientId}=patient_id
            </if>
            AND status = 0
        </where>
    </select>


    <select id="getHistory" parameterType="com.usst.model.Operation" resultMap="allOperationInfo">
        SELECT * FROM operation
        <if test="nurseId!=0">
            ,nurse_schedule
        </if>
        <where>
            <if test="#doctorId!=0">
                AND #{doctorId}=doctor_id
            </if>
            <if test="analgesistId!=0">
                AND #{analgesistId}=analgesist_id
            </if>
            <if test="nurseId!=0">
                AND id=operation_id
                AND #{nurseId}=nurse_id
            </if>
            <if test="patientId!=0">
                AND #{patientId}=patient_id
            </if>
            AND status = 1
        </where>
    </select>

    <select id="getAllOperation" resultMap="allOperationInfo">
        SELECT * FROM operation
    </select>


</mapper>